openapi: 3.2.0
info:
  title: GoldRush Pipeline Transforms API
  description: 'Managed pipeline that streams decoded blockchain data into customer destinations (ClickHouse, Kafka, S3/GCS/R2, Postgres, AWS SQS, Webhook). Pipelines configure source chains, ABI decoding for events and functions, SQL transforms, and destination connection settings. Service Keys are the credential type used for programmatic pipeline management.

    '
  version: v1
  contact:
    name: GoldRush Support
    url: https://goldrush.dev/support/
servers:
- url: https://pipeline.goldrush.dev
  description: Pipeline REST API
security:
- ServiceKeyAuth: []
tags:
- name: Transforms
  description: Manage SQL transforms applied to decoded events before delivery.
paths:
  /v1/transforms:
    get:
      summary: List SQL Transforms
      operationId: listTransforms
      tags:
      - Transforms
      responses:
        '200':
          description: OK
    post:
      summary: Create SQL Transform
      operationId: createTransform
      tags:
      - Transforms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transform'
      responses:
        '201':
          description: Created
components:
  schemas:
    Transform:
      type: object
      required:
      - name
      - sql
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        sql:
          type: string
          description: SQL applied to the decoded event stream before delivery.
  securitySchemes:
    ServiceKeyAuth:
      type: http
      scheme: bearer
      description: 'Pipeline Service Key, sent as `Authorization: Bearer <service-key>`.'
