openapi: 3.1.0
info:
  title: GoldRush Foundational ABI Info API
  description: 'Structured historical blockchain data across 100+ chains via REST. Resource families include Balances (native, ERC20, ERC721, ERC1155, historical portfolios, token holders), Transactions (v3 paginated, time-bucketed, by-block), NFTs, Base service (blocks, logs, gas prices, address resolution), Cross-Chain Activity, Pricing, and Security (token approvals).

    '
  version: v1
  contact:
    name: GoldRush Support
    url: https://goldrush.dev/support/
  license:
    name: Covalent Terms of Service
    url: https://www.covalenthq.com/terms-of-service/
servers:
- url: https://api.covalenthq.com
  description: GoldRush production server
security:
- BearerAuth: []
tags:
- name: Info
  description: Dispatching POST endpoint for Hyperliquid info types.
paths:
  /info:
    post:
      summary: Query Hyperliquid Info Endpoint
      description: 'POSTs a JSON body with a required `type` discriminator. Supported types include `clearinghouseState`, `batchClearinghouseState`, `spotClearinghouseState`, `batchSpotClearinghouseState`, `metaAndAssetCtxs`, `spotMetaAndAssetCtxs`, `frontendOpenOrders`, `userFills`, `userFillsByTime`, `userFunding`, `userNonFundingLedgerUpdates`, `userTwapSliceFills`, `userVaultEquities`, `delegatorHistory`, `delegatorRewards`, `delegatorSummary`, `subAccounts`, and `outcomeMeta`.

        '
      operationId: queryHyperliquidInfo
      tags:
      - Info
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfoRequest'
            examples:
              ClearinghouseState:
                summary: clearinghouseState
                value:
                  type: clearinghouseState
                  user: 0x...
              UserFills:
                summary: userFills
                value:
                  type: userFills
                  user: 0x...
              SpotMetaAndAssetCtxs:
                summary: spotMetaAndAssetCtxs
                value:
                  type: spotMetaAndAssetCtxs
              MetaAndAssetCtxs:
                summary: metaAndAssetCtxs
                value:
                  type: metaAndAssetCtxs
              DelegatorHistory:
                summary: delegatorHistory
                value:
                  type: delegatorHistory
                  user: 0x...
              OutcomeMeta:
                summary: outcomeMeta
                value:
                  type: outcomeMeta
      responses:
        '200':
          description: Info response (shape depends on `type`).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Bad Request - unknown or malformed type
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
components:
  schemas:
    InfoRequest:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - clearinghouseState
          - batchClearinghouseState
          - spotClearinghouseState
          - batchSpotClearinghouseState
          - metaAndAssetCtxs
          - spotMetaAndAssetCtxs
          - frontendOpenOrders
          - userFills
          - userFillsByTime
          - userFunding
          - userNonFundingLedgerUpdates
          - userTwapSliceFills
          - userVaultEquities
          - delegatorHistory
          - delegatorRewards
          - delegatorSummary
          - subAccounts
          - outcomeMeta
        user:
          type: string
          description: Wallet address (required for user-scoped types).
        users:
          type: array
          items:
            type: string
          description: Array of wallets for batch types.
        startTime:
          type: integer
          format: int64
          description: Milliseconds since epoch (for time-bounded queries).
        endTime:
          type: integer
          format: int64
        coin:
          type: string
          description: Asset symbol filter where supported.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'GoldRush API key, sent as `Authorization: Bearer <key>`.'
