openapi: 3.2.0
info:
  title: GoldRush x402 Data API
  description: 'Pay-per-request HTTP 402 endpoints for autonomous AI agents and onchain micropayments. Discover available x402 endpoints, search the directory, and call balance / transaction lookups with a 402 settlement flow.

    '
  version: v1
  contact:
    name: GoldRush Support
    url: https://goldrush.dev/support/
servers:
- url: https://api.covalenthq.com
  description: GoldRush x402 endpoints
security:
- BearerAuth: []
tags:
- name: Data
  description: x402-priced data endpoints.
paths:
  /v1/x402/{chainName}/address/{walletAddress}/balances_v2/:
    get:
      summary: Get Token Balances For Address (X402)
      operationId: getX402TokenBalancesForAddress
      tags:
      - Data
      parameters:
      - name: chainName
        in: path
        required: true
        schema:
          type: string
      - name: walletAddress
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '402':
          description: Payment Required - settle via x402 protocol and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/X402Challenge'
  /v1/x402/{chainName}/address/{walletAddress}/transactions_v3/:
    get:
      summary: Get Recent Transactions For Address (X402)
      operationId: getX402RecentTransactionsForAddress
      tags:
      - Data
      parameters:
      - name: chainName
        in: path
        required: true
        schema:
          type: string
      - name: walletAddress
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        '402':
          description: Payment Required - settle via x402 protocol and retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/X402Challenge'
components:
  schemas:
    X402Challenge:
      type: object
      properties:
        scheme:
          type: string
          example: x402
        recipient:
          type: string
        amount:
          type: string
        asset:
          type: string
        chain:
          type: string
        nonce:
          type: string
        expires:
          type: integer
          format: int64
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Optional bearer key; pay-per-request endpoints accept an x402 settlement header in lieu of a long-lived key.
