openapi: 3.2.0
info:
  title: GoldRush Pipeline Destinations API
  description: 'Managed pipeline that streams decoded blockchain data into customer destinations (ClickHouse, Kafka, S3/GCS/R2, Postgres, AWS SQS, Webhook). Pipelines configure source chains, ABI decoding for events and functions, SQL transforms, and destination connection settings. Service Keys are the credential type used for programmatic pipeline management.

    '
  version: v1
  contact:
    name: GoldRush Support
    url: https://goldrush.dev/support/
servers:
- url: https://pipeline.goldrush.dev
  description: Pipeline REST API
security:
- ServiceKeyAuth: []
tags:
- name: Destinations
  description: Manage destination connections (ClickHouse, Kafka, S3/GCS/R2, Postgres, SQS, Webhook).
paths:
  /v1/destinations:
    get:
      summary: List Destinations
      operationId: listDestinations
      tags:
      - Destinations
      responses:
        '200':
          description: OK
    post:
      summary: Create Destination
      operationId: createDestination
      tags:
      - Destinations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Destination'
      responses:
        '201':
          description: Created
  /v1/destinations/{destinationId}:
    get:
      summary: Get Destination
      operationId: getDestination
      tags:
      - Destinations
      parameters:
      - $ref: '#/components/parameters/DestinationId'
      responses:
        '200':
          description: OK
    delete:
      summary: Delete Destination
      operationId: deleteDestination
      tags:
      - Destinations
      parameters:
      - $ref: '#/components/parameters/DestinationId'
      responses:
        '204':
          description: No Content
components:
  schemas:
    Destination:
      type: object
      required:
      - type
      - name
      - config
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        type:
          type: string
          enum:
          - clickhouse
          - kafka
          - object_storage
          - postgres
          - sqs
          - webhook
        config:
          type: object
          additionalProperties: true
          description: Connection config (host, bucket, topic, queue URL, webhook URL, credentials, format).
  parameters:
    DestinationId:
      name: destinationId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ServiceKeyAuth:
      type: http
      scheme: bearer
      description: 'Pipeline Service Key, sent as `Authorization: Bearer <service-key>`.'
