openapi: 3.2.0
info:
  title: GoldRush Pipeline ABI API
  description: 'Managed pipeline that streams decoded blockchain data into customer destinations (ClickHouse, Kafka, S3/GCS/R2, Postgres, AWS SQS, Webhook). Pipelines configure source chains, ABI decoding for events and functions, SQL transforms, and destination connection settings. Service Keys are the credential type used for programmatic pipeline management.

    '
  version: v1
  contact:
    name: GoldRush Support
    url: https://goldrush.dev/support/
servers:
- url: https://pipeline.goldrush.dev
  description: Pipeline REST API
security:
- ServiceKeyAuth: []
tags:
- name: ABI
  description: Manage ABI definitions used for log and function decoding.
paths:
  /v1/abis:
    get:
      summary: List ABIs
      operationId: listAbis
      tags:
      - ABI
      responses:
        '200':
          description: OK
    post:
      summary: Upload ABI
      operationId: uploadAbi
      tags:
      - ABI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Abi'
      responses:
        '201':
          description: Created
components:
  schemas:
    Abi:
      type: object
      required:
      - name
      - abi
      properties:
        id:
          type: string
          readOnly: true
        name:
          type: string
        abi:
          type: array
          description: JSON ABI definition.
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    ServiceKeyAuth:
      type: http
      scheme: bearer
      description: 'Pipeline Service Key, sent as `Authorization: Bearer <service-key>`.'
