openapi: 3.1.0
info:
  title: GoldRush Hyperliquid Info API
  description: >
    Drop-in replacement for the public Hyperliquid `/info` endpoint hosted at
    `hypercore.goldrushdata.com`. The API uses a single POST endpoint that
    dispatches by the request body's `type` discriminator. Supports 18 info
    types covering clearinghouse state, spot clearinghouse state, asset
    contexts, frontend orders, user fills, funding history, ledger updates,
    delegator history/rewards/summary, sub-accounts, outcome meta, and TWAP
    slice fills.
  version: v1
  contact:
    name: GoldRush Support
    url: https://goldrush.dev/support/
servers:
  - url: https://hypercore.goldrushdata.com
    description: GoldRush-hosted Hyperliquid Info endpoint
security:
  - BearerAuth: []
tags:
  - name: Info
    description: Dispatching POST endpoint for Hyperliquid info types.
paths:
  /info:
    post:
      summary: Query Hyperliquid Info Endpoint
      description: >
        POSTs a JSON body with a required `type` discriminator. Supported types
        include `clearinghouseState`, `batchClearinghouseState`,
        `spotClearinghouseState`, `batchSpotClearinghouseState`,
        `metaAndAssetCtxs`, `spotMetaAndAssetCtxs`, `frontendOpenOrders`,
        `userFills`, `userFillsByTime`, `userFunding`,
        `userNonFundingLedgerUpdates`, `userTwapSliceFills`,
        `userVaultEquities`, `delegatorHistory`, `delegatorRewards`,
        `delegatorSummary`, `subAccounts`, and `outcomeMeta`.
      operationId: queryHyperliquidInfo
      tags: [Info]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InfoRequest'
            examples:
              ClearinghouseState:
                summary: clearinghouseState
                value: { type: clearinghouseState, user: "0x..." }
              UserFills:
                summary: userFills
                value: { type: userFills, user: "0x..." }
              SpotMetaAndAssetCtxs:
                summary: spotMetaAndAssetCtxs
                value: { type: spotMetaAndAssetCtxs }
              MetaAndAssetCtxs:
                summary: metaAndAssetCtxs
                value: { type: metaAndAssetCtxs }
              DelegatorHistory:
                summary: delegatorHistory
                value: { type: delegatorHistory, user: "0x..." }
              OutcomeMeta:
                summary: outcomeMeta
                value: { type: outcomeMeta }
      responses:
        '200':
          description: Info response (shape depends on `type`).
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400': { description: Bad Request - unknown or malformed type }
        '401': { description: Unauthorized }
        '429': { description: Too Many Requests }
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "GoldRush API key, sent as `Authorization: Bearer <key>`."
  schemas:
    InfoRequest:
      type: object
      required: [type]
      properties:
        type:
          type: string
          enum:
            - clearinghouseState
            - batchClearinghouseState
            - spotClearinghouseState
            - batchSpotClearinghouseState
            - metaAndAssetCtxs
            - spotMetaAndAssetCtxs
            - frontendOpenOrders
            - userFills
            - userFillsByTime
            - userFunding
            - userNonFundingLedgerUpdates
            - userTwapSliceFills
            - userVaultEquities
            - delegatorHistory
            - delegatorRewards
            - delegatorSummary
            - subAccounts
            - outcomeMeta
        user:
          type: string
          description: Wallet address (required for user-scoped types).
        users:
          type: array
          items: { type: string }
          description: Array of wallets for batch types.
        startTime:
          type: integer
          format: int64
          description: Milliseconds since epoch (for time-bounded queries).
        endTime:
          type: integer
          format: int64
        coin:
          type: string
          description: Asset symbol filter where supported.
